$colors: (
    'blue': #42A5F5,
    'red': #FF1D23,
    'yellow': #FFFC00,
    'green': #00A258,
    'purple': #8100B3,
    'orange': #FF8C00,
    'cyan': #00FFFF,
    'teal': #009688,
    'brown': #795548,
    'grey': #9E9E9E
);

$variances: (
    'light': 5,
    'dark': 4
);

$max-variation: (
    'light': 90%,
    'dark': 90%
);