$weights: 4;

$headers: 5;
$header-font: "Times New Roman", Times, serif;
$min-header-size: 2rem;
$max-header-size: 5rem;

$bodies: 3;
$body-font: Arial, Helvetica, sans-serif;
$min-body-size: .8rem;
$max-body-size: 1.5rem;
